html{
background-color: #59226b;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
line-height: 1.5;
font-size: 1em;
}

h1, h2, h3, h4, h5, h6{
  text-align: center;
  text-decoration: underline;
}

p{
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.design-selection{
  text-align: left;
}

body{
  color:#fff;
}
